html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ul li {
  padding: 0;
  margin: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button, input[type=button] {
  outline: 0;
  border: none;
  cursor: pointer;
}

@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.333333%;
}

.pull-2 {
  right: 16.666667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.333333%;
}

.pull-5 {
  right: 41.666667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.333333%;
}

.pull-8 {
  right: 66.666667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.333333%;
}

.pull-11 {
  right: 91.666667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.333333%;
}

.push-2 {
  left: 16.666667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.333333%;
}

.push-5 {
  left: 41.666667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.333333%;
}

.push-8 {
  left: 66.666667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.333333%;
}

.push-11 {
  left: 91.666667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-sm-0 {
    right: auto;
  }

  .pull-sm-1 {
    right: 8.333333%;
  }

  .pull-sm-2 {
    right: 16.666667%;
  }

  .pull-sm-3 {
    right: 25%;
  }

  .pull-sm-4 {
    right: 33.333333%;
  }

  .pull-sm-5 {
    right: 41.666667%;
  }

  .pull-sm-6 {
    right: 50%;
  }

  .pull-sm-7 {
    right: 58.333333%;
  }

  .pull-sm-8 {
    right: 66.666667%;
  }

  .pull-sm-9 {
    right: 75%;
  }

  .pull-sm-10 {
    right: 83.333333%;
  }

  .pull-sm-11 {
    right: 91.666667%;
  }

  .pull-sm-12 {
    right: 100%;
  }

  .push-sm-0 {
    left: auto;
  }

  .push-sm-1 {
    left: 8.333333%;
  }

  .push-sm-2 {
    left: 16.666667%;
  }

  .push-sm-3 {
    left: 25%;
  }

  .push-sm-4 {
    left: 33.333333%;
  }

  .push-sm-5 {
    left: 41.666667%;
  }

  .push-sm-6 {
    left: 50%;
  }

  .push-sm-7 {
    left: 58.333333%;
  }

  .push-sm-8 {
    left: 66.666667%;
  }

  .push-sm-9 {
    left: 75%;
  }

  .push-sm-10 {
    left: 83.333333%;
  }

  .push-sm-11 {
    left: 91.666667%;
  }

  .push-sm-12 {
    left: 100%;
  }

  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.333333%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.333333%;
  }

  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-md-0 {
    right: auto;
  }

  .pull-md-1 {
    right: 8.333333%;
  }

  .pull-md-2 {
    right: 16.666667%;
  }

  .pull-md-3 {
    right: 25%;
  }

  .pull-md-4 {
    right: 33.333333%;
  }

  .pull-md-5 {
    right: 41.666667%;
  }

  .pull-md-6 {
    right: 50%;
  }

  .pull-md-7 {
    right: 58.333333%;
  }

  .pull-md-8 {
    right: 66.666667%;
  }

  .pull-md-9 {
    right: 75%;
  }

  .pull-md-10 {
    right: 83.333333%;
  }

  .pull-md-11 {
    right: 91.666667%;
  }

  .pull-md-12 {
    right: 100%;
  }

  .push-md-0 {
    left: auto;
  }

  .push-md-1 {
    left: 8.333333%;
  }

  .push-md-2 {
    left: 16.666667%;
  }

  .push-md-3 {
    left: 25%;
  }

  .push-md-4 {
    left: 33.333333%;
  }

  .push-md-5 {
    left: 41.666667%;
  }

  .push-md-6 {
    left: 50%;
  }

  .push-md-7 {
    left: 58.333333%;
  }

  .push-md-8 {
    left: 66.666667%;
  }

  .push-md-9 {
    left: 75%;
  }

  .push-md-10 {
    left: 83.333333%;
  }

  .push-md-11 {
    left: 91.666667%;
  }

  .push-md-12 {
    left: 100%;
  }

  .offset-md-0 {
    margin-left: 0%;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-lg-0 {
    right: auto;
  }

  .pull-lg-1 {
    right: 8.333333%;
  }

  .pull-lg-2 {
    right: 16.666667%;
  }

  .pull-lg-3 {
    right: 25%;
  }

  .pull-lg-4 {
    right: 33.333333%;
  }

  .pull-lg-5 {
    right: 41.666667%;
  }

  .pull-lg-6 {
    right: 50%;
  }

  .pull-lg-7 {
    right: 58.333333%;
  }

  .pull-lg-8 {
    right: 66.666667%;
  }

  .pull-lg-9 {
    right: 75%;
  }

  .pull-lg-10 {
    right: 83.333333%;
  }

  .pull-lg-11 {
    right: 91.666667%;
  }

  .pull-lg-12 {
    right: 100%;
  }

  .push-lg-0 {
    left: auto;
  }

  .push-lg-1 {
    left: 8.333333%;
  }

  .push-lg-2 {
    left: 16.666667%;
  }

  .push-lg-3 {
    left: 25%;
  }

  .push-lg-4 {
    left: 33.333333%;
  }

  .push-lg-5 {
    left: 41.666667%;
  }

  .push-lg-6 {
    left: 50%;
  }

  .push-lg-7 {
    left: 58.333333%;
  }

  .push-lg-8 {
    left: 66.666667%;
  }

  .push-lg-9 {
    left: 75%;
  }

  .push-lg-10 {
    left: 83.333333%;
  }

  .push-lg-11 {
    left: 91.666667%;
  }

  .push-lg-12 {
    left: 100%;
  }

  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-xl-0 {
    right: auto;
  }

  .pull-xl-1 {
    right: 8.333333%;
  }

  .pull-xl-2 {
    right: 16.666667%;
  }

  .pull-xl-3 {
    right: 25%;
  }

  .pull-xl-4 {
    right: 33.333333%;
  }

  .pull-xl-5 {
    right: 41.666667%;
  }

  .pull-xl-6 {
    right: 50%;
  }

  .pull-xl-7 {
    right: 58.333333%;
  }

  .pull-xl-8 {
    right: 66.666667%;
  }

  .pull-xl-9 {
    right: 75%;
  }

  .pull-xl-10 {
    right: 83.333333%;
  }

  .pull-xl-11 {
    right: 91.666667%;
  }

  .pull-xl-12 {
    right: 100%;
  }

  .push-xl-0 {
    left: auto;
  }

  .push-xl-1 {
    left: 8.333333%;
  }

  .push-xl-2 {
    left: 16.666667%;
  }

  .push-xl-3 {
    left: 25%;
  }

  .push-xl-4 {
    left: 33.333333%;
  }

  .push-xl-5 {
    left: 41.666667%;
  }

  .push-xl-6 {
    left: 50%;
  }

  .push-xl-7 {
    left: 58.333333%;
  }

  .push-xl-8 {
    left: 66.666667%;
  }

  .push-xl-9 {
    left: 75%;
  }

  .push-xl-10 {
    left: 83.333333%;
  }

  .push-xl-11 {
    left: 91.666667%;
  }

  .push-xl-12 {
    left: 100%;
  }

  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.333333%;
  }

  .offset-xl-2 {
    margin-left: 16.666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.333333%;
  }

  .offset-xl-5 {
    margin-left: 41.666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.333333%;
  }

  .offset-xl-8 {
    margin-left: 66.666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.333333%;
  }

  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
/*# sourceMappingURL=bootstrap-grid.css.map */
@font-face {
  font-family: "BigNoodleTitling";
  src: url("../fonts/big_noodle_titling.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 12px;
  overflow-x: hidden;
  font-weight: 300;
  color: #252525;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #252525;
  text-decoration: none;
  opacity: 1;
  transition: color 0.3s ease, opacity 0.3s ease;
}
a:hover {
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

header .container,
header .icon-header {
  display: flex;
}

.top-bar {
  padding: 23px 0 9px;
  background-color: #31353d;
  color: #d7d7d7;
  font-size: 10px;
  letter-spacing: 1px;
}
.top-bar strong {
  font-weight: 500;
}
.top-bar .tel span {
  margin: 0 5px;
}
.top-bar .container {
  justify-content: space-between;
}
.top-bar .lang {
  text-transform: uppercase;
}
.top-bar .lang span {
  margin: 0 8px;
}

.bottom-bar {
  padding: 11px 0;
  font-size: 14px;
}
.bottom-bar .container {
  align-items: center;
}

.logo {
  flex: 1 1 0%;
  max-height: 50px;
}

.menu {
  display: flex;
  justify-content: center;
}
.menu li {
  position: relative;
  transition: background-color 0.3s ease;
}
.menu li:hover {
  background-color: #00c8c8;
}
.menu li:hover > a {
  color: #fff;
  opacity: 1;
}
.menu li:hover > .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.menu a {
  display: inline-flex;
  padding: 11px;
  margin: 0px 9px;
  font-size: 15px;
  z-index: 1;
}
.menu a i {
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #636363;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  z-index: 1;
}
.dropdown a {
  display: flex;
  justify-content: space-between;
}
.dropdown li:first-child a::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  margin-top: -25px;
}
.dropdown .dropdown {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 20px;
  transform: translate(-20px, 0);
}
.dropdown .dropdown li:first-child a::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  margin-left: -20px;
  margin-top: 0;
  z-index: 0;
}

.icon-header {
  flex: 1 1 0%;
  justify-content: flex-end;
}
.icon-header a {
  padding: 5px;
  margin: 0 6px;
}
.icon-header a span {
  font-size: 11px;
  font-weight: 700;
  margin-left: 5px;
}
.icon-header a:last-child {
  margin-right: 0;
}
.icon-header i {
  color: #464646;
  font-size: 16px;
}

.cart {
  display: flex;
}
.cart span {
  position: relative;
}
.cart span:last-child {
  margin-left: 10px;
}
.cart .numbers-cart {
  position: absolute;
  top: -4px;
  right: -9px;
  height: 17px;
  width: 17px;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #00c8c8;
}

.burger {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background: #00c8c8;
  transition: background 0.3s ease;
}
.burger:hover {
  background: #019191;
}

.burger-wrapper {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
}

.slider {
  background-image: url(../img/slider.png);
  background-size: cover;
  background-position: center;
  padding: 137px 0 165px;
  margin-bottom: 29px;
}
.slider h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 25px;
  color: #31415c;
  max-width: 390px;
  line-height: 1;
  letter-spacing: -3px;
}
.slider p {
  font-size: 14px;
  font-style: italic;
  color: #252525;
  margin-bottom: 23px;
}
.slider .sub-title {
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: #31415c;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.slider-content {
  margin-left: 100px;
}

.shop-btn {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.shop-btn i {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 2px;
}

.support {
  margin-bottom: 16px;
}
.support .row > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.support-foto {
  margin-left: 18px;
}

.support-text {
  margin-left: 20px;
}
.support-text h6 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 700;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.support-text p {
  color: #898989;
}

.shirt-foto {
  position: relative;
  margin-bottom: 30px;
}
.shirt-foto img {
  width: 100%;
}

.shirt-foto-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
  font-family: "Open Sans", sans-serif;
}
.shirt-foto-inner h3 {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: -12px;
  margin-bottom: 0px;
  letter-spacing: -1.6px;
}
.shirt-foto-inner p {
  max-width: 210px;
  color: #636363;
  margin-bottom: 37px;
  line-height: 1.6;
}
.shirt-foto-inner .new {
  font-weight: 700;
  text-transform: uppercase;
  color: #00b8b8;
  letter-spacing: 2.5px;
}
.shirt-foto-inner .price {
  font-size: 30px;
  font-weight: 800;
  color: #00b8b8;
  margin-bottom: 9px;
}

.shirt-inner-right {
  align-items: flex-end;
  padding-right: 13px;
}
.shirt-inner-right p {
  text-align: right;
}
.shirt-inner-right .new,
.shirt-inner-right .price {
  color: #ff0036;
}

.collection {
  margin-bottom: 50px;
}
.collection .container {
  display: flex;
  position: relative;
}
.collection .row > div:first-child {
  z-index: 1;
}

.collection-text {
  margin: 23px 0 23px 24px;
  min-width: 650px;
  width: 100%;
  padding: 28px 25px 34px 38px;
  border: 7px solid #00c8c8;
  background: transparent;
}
.collection-text h3 {
  font-size: 36px;
  font-weight: 700;
  color: #00c8c8;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 8px;
}
.collection-text p {
  letter-spacing: 1px;
  margin-bottom: 29px;
}
.collection-text .new {
  font-weight: 900;
  color: #f7941d;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.collection-foto {
  margin-left: -30px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.title-wrapper a {
  font-size: 10px;
  text-transform: uppercase;
  color: #636363;
  letter-spacing: 0.7px;
  text-align: end;
  margin-top: 7px;
}

.title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 3px;
  margin-bottom: 0;
}
.title::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #252525;
}

.product {
  margin-bottom: 24px;
}
.product .row > div {
  margin-bottom: 32px;
}
.product .row > div:hover img {
  transform: scale(1.1);
}
.product .row > div:hover .product-hover {
  transform: translateY(0);
  bottom: 35px;
}

.product-foto {
  position: relative;
  margin-bottom: 18px;
  overflow: hidden;
}
.product-foto img {
  width: 100%;
}
.product-foto > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.product-foto .hot {
  background-color: #ffff00;
  color: #ff0000;
}
.product-foto .sale-foto {
  background-color: #ed1c24;
}

.product-hover {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease, bottom 0.3s ease;
}
.product-hover a {
  font-size: 20px;
  padding: 6px;
  margin: 0 8px;
}

.product-banner {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50px;
  padding: 9px 3px 3px;
  background-color: #00c8c8;
  color: #fff;
  text-transform: uppercase;
  writing-mode: tb-rl;
  letter-spacing: 2px;
  font-size: 10px;
  text-align: center;
}

.product-text h5 {
  margin-bottom: 1px;
}
.product-text h5 a {
  font-size: 14px;
  color: #555555;
  letter-spacing: 1px;
}
.product-text .price-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-text .price {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.product-text .price span {
  font-size: 12px;
  font-weight: 300;
  color: #898989;
  text-decoration: line-through;
  letter-spacing: 0;
}
.product-text .star {
  color: #b7b7b7;
  font-size: 11px;
}
.product-text .star-3 i:not(:last-child, :nth-child(4)) {
  color: #eecf00;
}
.product-text .star-4 i:not(:last-child) {
  color: #eecf00;
}

.sale {
  margin-bottom: 30px;
}

.sale-wrapper {
  position: relative;
}
.sale-wrapper a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sale-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 47%;
  padding: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sale-inner span {
  line-height: 1;
}
.sale-inner span:not(:last-child, :nth-child(2)) {
  font-weight: 900;
  color: #fff;
}
.sale-inner span:first-child {
  font-size: 18px;
  letter-spacing: 1.6px;
  margin-bottom: 5px;
}
.sale-inner span:nth-child(2) {
  font-size: 24px;
  background-color: #fff;
  letter-spacing: 5px;
  padding: 0 5px;
}
.sale-inner span:nth-child(3) {
  font-size: 60px;
  letter-spacing: -3.5px;
  margin-bottom: 17px;
}
.sale-inner span:last-child {
  font-size: 14px;
  letter-spacing: 1.5px;
}

.mstore {
  margin-bottom: 29px;
}
.mstore img {
  width: 100%;
}
.mstore .row > div {
  background-color: #96dbc9;
}

.mstore-wrapper {
  padding: 57px;
  text-align: center;
}
.mstore-wrapper p {
  line-height: 3;
  letter-spacing: 1px;
  max-width: 400px;
  margin: 0 auto 37px;
}
.mstore-wrapper .title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 22px;
  padding-bottom: 10px;
}
.mstore-wrapper .title::after {
  left: 50%;
  transform: translateX(-50%);
}

.sellers-product {
  margin-bottom: 22px;
}
.sellers-product img {
  width: 100%;
}
.sellers-product .title-wrapper {
  margin-top: 25px;
}

.sellers-foto-big {
  overflow: hidden;
  position: relative;
}
.sellers-foto-big .oll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sellers-foto-big .discover {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: revert;
  text-decoration-color: #b4b5b4;
}

.sellers-foto-big-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 17px;
  padding-right: 40px;
  font-family: "BigNoodleTitling", sans-serif;
  font-size: 30px;
  color: #00c8c8;
  text-align: right;
  letter-spacing: 6px;
}
.sellers-foto-big-text span {
  font-size: 72px;
  display: block;
  line-height: 0.8;
  letter-spacing: 0.8px;
}

.sellers-product-hover {
  overflow: hidden;
  margin-bottom: 30px;
}
.sellers-product-hover:hover img {
  transform: scale(1.1);
}
.sellers-product-hover:hover .product-hover {
  transform: translateY(0);
  bottom: 35px;
}

.blog {
  margin-bottom: 32px;
}
.blog .title {
  margin-bottom: 26px;
}
.blog .row > div {
  margin-bottom: 15px;
}
.blog .row > div:hover img {
  transform: scale(1.1);
}

.blog-foto {
  position: relative;
  margin-bottom: 13px;
  overflow: hidden;
}
.blog-foto img {
  width: 100%;
}
.blog-foto a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blog-text {
  padding: 7px;
  color: #636363;
}
.blog-text h5 {
  margin-bottom: 8px;
}
.blog-text h5 a {
  margin-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #252525;
  font-weight: 400;
}
.blog-text p {
  margin-bottom: 24px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #898989;
}
.blog-text .shop-btn {
  font-weight: 700;
  text-transform: uppercase;
}
.blog-text .time {
  margin-bottom: 15px;
}
.blog-text .time i {
  margin-right: 6px;
}
.blog-text .time span {
  margin-right: 25px;
}

.join {
  background-image: url(../img/join.png);
  background-size: cover;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 29px;
  color: #fff;
}
.join h3 {
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.4px;
}
.join p {
  letter-spacing: 0.7px;
}
.join form {
  text-align: right;
}
.join input[type=email] {
  margin-bottom: 7px;
  padding: 11px;
  max-width: 670px;
  width: 100%;
  letter-spacing: 1px;
  outline: none;
}
.join input[type=submit] {
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 9px;
  min-width: 100px;
  color: #fff;
  background: #00c8c8;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.join input[type=submit]:hover {
  background: #018080;
}
.join .row > div {
  margin-bottom: 30px;
}

footer {
  background-color: #363a42;
}
footer > .container {
  padding-bottom: 8px;
  color: #868686;
  letter-spacing: 1px;
}
footer .row > div:not(:first-child) {
  margin-bottom: 30px;
}
footer h6 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
footer p {
  line-height: 2;
  letter-spacing: 1.5px;
  margin-bottom: 41px;
}

.our-company {
  padding-left: 34px;
  padding-top: 49px;
  padding-bottom: 30px;
  background-color: #31353d;
}
.our-company .logo {
  margin-bottom: 25px;
}

.contact {
  margin-bottom: 57px;
}
.contact > span {
  display: block;
  margin-bottom: 7px;
}
.contact .color {
  color: #e1e1e1;
}

.social a {
  font-size: 20px;
  padding: 5px;
  margin: 0 7px;
  color: #fff;
}
.social a:first-child {
  padding-left: 0;
  margin-left: 0;
}
.social a:hover {
  color: #0065f8;
  opacity: 1;
}

.information-footer {
  margin-top: 58px;
  margin-right: -20px;
}
.information-footer a {
  display: inline-block;
  padding: 10px 0;
  margin: 6px 0;
  color: #cccc;
}
.information-footer ul {
  column-count: 2;
}

.footer-maps {
  position: relative;
  margin-top: 92px;
  margin-left: -30px;
}
.footer-maps img {
  width: 100%;
}
.footer-maps a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.copyring {
  padding: 9px 0;
  background-color: #fff;
  color: #363a42;
}
.copyring p {
  margin-left: 4px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.copyring strong {
  font-weight: 700;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .burger-wrapper {
    display: flex;
  }

  .menu {
    display: none;
  }

  .icon-header {
    justify-self: center;
  }

  .collection-text {
    margin: 0;
  }

  .our-company,
.footer-maps,
.slider-content {
    margin-left: 0;
  }

  .sale-inner {
    padding: 10px;
  }
  .sale-inner span:first-child {
    font-size: 12px;
  }
  .sale-inner span:nth-child(2) {
    font-size: 14px;
  }
  .sale-inner span:nth-child(3) {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .sale-inner .sale-inner span:last-child {
    font-size: 12px;
  }

  .mstore-wrapper {
    padding: 20px;
  }
  .mstore-wrapper p {
    line-height: 1.6;
  }
}
@media (max-width: 768px) {
  header .top-bar,
header .icon-header {
    display: none;
  }

  .slider {
    padding: 50px 0;
  }
  .slider h1 {
    font-size: 36px;
  }

  .shirt-foto-inner p {
    margin-bottom: 10px;
  }
  .shirt-foto-inner h3 {
    font-size: 20px;
    margin-top: -5px;
  }
  .shirt-foto-inner .price {
    margin-bottom: 0;
    font-size: 20px;
  }

  .collection-text {
    min-width: 0;
    margin-bottom: 30px;
  }

  .collection-foto {
    margin-left: 0;
  }

  .sale-inner {
    left: auto;
  }
  .sale-inner span:nth-child(3) {
    display: none;
  }

  .footer-maps {
    margin-top: 0;
  }

  .information-footer {
    margin-top: 30px;
    margin-right: 0;
  }

  .our-company {
    padding: 20px 10px;
  }
}
@media (max-width: 568px) {
  .sale {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
