body {
    background: rgb(211, 211, 211);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

.title {
    text-align: center;
}

.main-header {
    margin-bottom: 20px;
}

.cart-cafe {
    padding: 10px;
    max-width: 400px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
}

.admin-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.admin-cart-cafe {
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
}

.admin-photo-wrapper {
    margin-bottom: 20px;
}

.admin-photo-wrapper img {
    width: 100%;
    max-width: 300px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.content {
    margin-bottom: 20px;
}

.errors-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

#gmap {
    width: 100%;
    height: 100%;
}

.wrap_controls {
    display: none;
}