body {
	background: #f3f3f3;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

li {
	margin-bottom: 10px;
}

li a {
	color: #000;
	text-decoration: none;
	transition: opacity .3s ease;
}

li a:hover {
	color: #000;
	text-decoration: none;
	opacity: 0.6;
}

.add-todo-wrapper {
	padding: 30px;
	background: #ffffff;
	max-width: 700px;
	margin: 20px auto;
	text-align: center;
	border-radius: 5px;
}

.todos-inner {
	max-width: 700px;
	margin: 0 auto;
}

.todo {
	position: relative;
	padding: 30px;
	background: #ffffff;
	min-height: 100px;
	margin-bottom: 20px;
	border-radius: 5px;
	transition: background .3s ease;
	box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.todo.done {
	background: #c1f5ab;
}

.todo-name {
	margin-right: 210px;
	font-size: 16px;
	font-weight: 700;
}

.todo-text {
	margin-right: 210px;
}

.todo-date {
	position: absolute;
	top: 20px;
	right: 20px;
}

.mixin-color-red {
	color: red;
}

.header-inner {
	padding: 10px;
	text-align: center;
	font-style: italic;
}

input[type=text],
textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	outline: none;
}

input[type=date],
input[type=submit] {
	margin: 0 30px;
}

.btn-group {
	position: absolute;
	top: 50px;
	right: 20px;
}

.edit-todo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: #c7c7c7;
	border-radius: 5px;
	border: 1px solid #000;
}

.form-edit-todo {
	display: none;
	margin-top: 20px;
    text-align: center;
}

.btn:focus, .btn.focus {
	box-shadow: none !important;
}

.info-error {
	display: inline-block;
	margin: 10px;
}

.alert {
	margin-bottom: 0;
}
/* .info-error {
	position: fixed;
	right: 20px;
}


.info-error:first-child {
	bottom: 20px;
}

.info-error:nth-child(2) {
	bottom: 85px;
} */