body {
	background: #f3f3f3;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

li {
	margin-bottom: 10px;
}

li a {
	color: #000;
	text-decoration: none;
	transition: opacity .3s ease;
}

li a:hover {
	color: #000;
	text-decoration: none;
	opacity: 0.6;
}

.add-todo-wrapper {
	padding: 30px;
	background: #ffffff;
	max-width: 700px;
	margin: 0 auto 40px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.todos-inner {
	max-width: 700px;
	margin: 0 auto;
}

.todo {
	position: relative;
	padding: 30px;
	background: #ffffff;
	min-height: 100px;
	margin-bottom: 20px;
	border-radius: 5px;
	transition: background .3s ease;
	box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.todo.done {
	background: #c1f5ab;
}

.todo-name {
	margin-right: 210px;
	font-size: 16px;
	font-weight: 700;
}

.todo-text {
	margin-right: 210px;
}

.todo-date {
	position: absolute;
	top: 20px;
	right: 20px;
}

.mixin-color-red {
	color: red;
}

.header-inner {
	padding: 10px;
	text-align: center;
	font-style: italic;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	outline: none;
}

input[type=date],
input[type=submit] {
	margin-bottom: 10px;
}

.btn-group {
	position: absolute;
	top: 50px;
	right: 20px;
}

.edit-todo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: #c7c7c7;
	border-radius: 5px;
	border: 1px solid #000;
	z-index: 10;
}

.form-edit-todo {
	display: none;
	margin-top: 30px;
    text-align: center;
}

.btn:focus, .btn.focus {
	box-shadow: none !important;
}

.info-error {
	position: absolute;
	left: 20px;
	z-index: 1;
}

.info-error:first-child {
	top: 20px;
}

.info-error:nth-child(2) {
	top: 80px;
}

.info-error:nth-child(3) {
	top: 140px;
}

.alert {
	margin-bottom: 0;
}

.todo-done:before {
    content: "\f00c";
	font-family: "Font Awesome 5 Pro";
}

.todo-done {
	width: 40px;
	height: 38px;
}

.todo-done.done:before {
    content: "\f01e";
}

.users-wrapper {
	max-width: 700px;
    margin: 40px auto;
}

.btn-warning {
	color: #ffffff;
}

.exit-profile {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 70px;
	background: #ff0000;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transition: all .3s ease;
}

.exit-profile:hover {
	background: #f13838;
	color: #000;
	text-decoration: none;

}